

.container_contact h3 {
    background-color: #D7B377;
    text-align: center;
    font-family: Comfortaa-VariableFont_wght, sans-serif;
}

.formulaire_bleu {
    display: grid;
    justify-content: center;
    background-color: #385F71;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Rounded_Elegance, sans-serif;
}

